<div class="container" style="min-height:400px">
  <div class="row" style="padding-bottom:50px;">
      <div class="col-lg-12 text-center">
	  <h1>Please Sign Up</h1>
      </div>
  </div>
  <% if flash[:errors] %>
      <% flash[:errors].each do |error|  %>
	  <div class="row" style="color:red;">
	      <div class="col-lg-3"></div>
	      <div class="col-lg-6"><%= error %></div>
	      <div class="col-lg-3"></div>
	  </div>
      <% end %>
  <% end %>
  <%= form_with :url => '/signup', :method => 'post' do |f| %>
      <div class="row" style="padding-top:20px;">
	  <div class="col-lg-3">&nbsp</div>
	  <div class="col-lg-3">
	      <%=f.label :username%>
	  </div>
	  <div class="col-lg-3">
	      <%=f.text_field :username%>
	  </div>
	  <div class="col-lg-3">&nbsp</div>
      </div>
      <div class="row" style="padding-top:20px;">
	  <div class="col-lg-3">&nbsp</div>
	  <div class="col-lg-3">
	      <%=f.label :email%>
	  </div>
	  <div class="col-lg-3">
	      <%=f.email_field :email%>
	  </div>
	  <div class="col-lg-3">&nbsp</div>
      </div>
      <div class="row" style="padding-top:20px;">
	  <div class="col-lg-3">&nbsp</div>
	  <div class="col-lg-3">
	      <%=f.label :password%>
	  </div>
	  <div class="col-lg-3">
	      <%=f.password_field :password%>
	  </div>
	  <div class="col-lg-3">&nbsp</div>
      </div>
      <div class="row" style="padding-top:40px;">
	  <div class="col-lg-12 text-center">
	      <%=f.submit :SignUp%>
	  </div>
      </div>
  <%end%>
</div>
